@import "tailwindcss";
  
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a78bfa;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8b5cf6;
  }
  
  /* Chart customizations */
  .recharts-tooltip-wrapper {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }